
/*
    couleurs :  adobe color, extraire l'image & identifier ses couleurs
    Sélecteurs type :
    -balise (body, p..)
    -classe (.menu)
    -pseudo classe / éléments
    -identifiant (#header)
    Cibler un attribut :
    a[title="..."] {...}
    a[title~="..."] cibler le mot
    a[title^="..."] cibler début du mot
    a[title$="..."] cible la fin du mot
*/

/*header............................................................................*/
body {
    color: #122617;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    background-image: url(geometry.png);
    margin: 0px;
  }
  
  header {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    background-image: url(.../meadow-5648849_1920.jpg);
    background-size: cover;
    background-position: bottom;
    opacity: 2;
    background: linear-gradient()
    
    /*
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    */
    /*background-color: #122617; */
  }
  
  /*header:hover {
    opacity: 1;
  }*/
  
  h1 {
    font-size: 30px;
    color: #ff0000;
    line-height: 20px;
    margin-block-start: 30px;
  }
  
  h2 {
    font-size: 30px;
    color: #ff0000;
    line-height: 20px;
    margin-block-start: 20px;
    transition: 0.9s;
    font-family: 'Dancing Script', cursive;
  }

  h2:hover {
      /*font-family: 'Dancing Script', cursive;*/
      font-size: 40px;
  }
  
  h6 {
    font-size: 15px;
    color: #ff0000;
    line-height: 1px;
    margin-block-start: 25px;
  
  }
  
  header img {
    width: 150px;
    border-radius: 50%;
    /*clip-path: ellipse(50% 50%);
    box-shadow: 3px 3px 6px rgb(170, 170, 170);*/
    text-align: center;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
  }


  img:hover {
    /*transform: rotate(45deg);*/
    /*transform: url(../images/animal.png);*/
    transform: rotate(35deg);

  }
  
  #contact {                                                                                                                  
    text-align: center;
    color: #2d593c;
    line-height: 1.5;
  }

  #contact:hover {
    color: #f28972;
  }
  
  #contact a {
    color: #2d593c;
  }
  
  #contact a:hover {
    color: #f28972;
  }
  
  
  
  
  
  
  /*nav............................................................................*/
  /*a:links
  a:hover
  a:visited
  a:active  */
  
  /*1. nav ul
  2. nav li
  3. nav a
  A REVOIR */
  
  
  nav {
    font-size: 20px;
    font-weight: bold;
    font-style: none;
    display: flex;                /*quand je mets en inline box, ca décale à gauche, PORQUOI????*/
    justify-content: center;
    padding: 10px;                                                                                          /*!!!!*/
  }
  
  
  nav a {
    display: block;
    color: #2d593c;
    text-decoration: none;
    margin: 10px;
    opacity: 0.7;
    padding: 2px;     /*espace entre les mots*/
    border: 1px solid;
    padding: 6px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
  }
  
  nav a:hover {
    color: #f28972;
  }
  
  .shadow {                                                                                                                     /*!!!! MARCHE PAS*/                                                                                                                                                                
    box-shadow: 0px 12px 50px 0px rgba (0, 0, 0, 0.5);
    }
  
  
  
  
  
  
  /*main............................................................................
  sélecteur d'identifiant : #
  sélecteur de class : . utilisable plusieurs fois dans html
  pseudo class: first-child, last-child, nth-child, first-letter, first-line*/
  
  
  h3 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #2d593c;
    border-bottom: 3px dotted #f28972;
  }
  
  
  h4, h5 {
    font-size: 15px;
  }
  
  h4:first-letter {
    background-color: #2d593c;
    color: white;
  }
  
  #pres {
    margin: 0px 150px;
    background-color: rgba(0,153,153, 0.25);
    padding: 10px 50px;
    text-indent:                                                                                            /*!comment faire retrait de 1 phrase!!!!*/
  }

  #savoiretre {
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
    }  

  #savoiretre h4 {
    margin-bottom: 0px;
  }  

  
  #savoiretre ul {
    text-align: center;
    list-style-type: none;
    padding: 0px;
  }

  #savoiretre:hover {
    color: white;
    transition: 0.9s;
  }


  #competences {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #competences h4 {
    text-align: center;
    margin-bottom: 0px;
  }

  #competences:hover {
    color: white;
    transition: 0.9s;
  }

 .flex {
   display: flex;
  
 }

 .bloc {
    width: 230px;

 }
  
  #outils {
    margin-bottom: 20px;
    text-align: center;

  } 

  #outils h4 {
    margin-bottom: 0px;
  }

  #outils li {
  list-style-type: none;
  padding-inline-start: none;
  }

  #outils:hover {
    color: white;
    transition: 0.9s;
}

  #formation {
    margin: 20px 100px;
    padding: 10px 150px;
  }
  
  #formation ul {
    list-style-type: circle;
    padding-left: 15px;
  }
  
  
  #formation aside {
    float: right;
  }
  
  /*aside {
    display: block;
  }*/
  
  #xp {
    margin: 20px 100px;
    padding: 10px 150px;
  }

  #xp aside {
    float: right;
    text-align: right;
  }
  
  #xp ul {
    list-style-type: circle;
  }

  
  #comptech {
    margin: 20px 100px;
    padding: 10px 150px;
  }
  
  
  /*boutons.........................................*/
  .btn {
    display: inline-block; /*élément inline !!!*/
    text-decoration: none;
    border: 1px solid #122617;
    padding: 0px 5px;
    line-height: 1.5;
    background-color: #122617;
    color: white;
    margin: 0px;
  }
  
  .btn:hover {
    background-color: white;
    color: #122617;
  }
  
 #form {
    margin-bottom: 20px;
    
    font-weight: bold;

  }



  #form h1{
    font-size: 20px;
    margin-left: 170px;
  }

  #form .separation{
    width: 50%;
    height: 1px;
    background-color: #122617;
  }

  #form .corps-formulaire{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
   margin-top: 10px;
  }

  #form .corps-formulaire .groupe{
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  #form .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid;
    outline-color: #122617;
  }

  #form .corps-formulaire .gauche .groupe i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #122617;
  }

  #form .corps-formulaire .droite{
    margin-left: 50px;
  }

  #form .corps-formulaire .droite .groupe{
    height: 100%;
    width: 100%;
  }

  #form .corps-formulaire .droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #122617;
    resize: none;
    height: 72%;
  }

  #form .pied-formulaire button{
    margin-top: 10px;
    background-color: #f28972;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 160px;

  }

  #form .pied-formulaire button:hover{
    transform: scale(1.05);
  }

  

  
  
  /*footer.......................................*/
  footer {
    text-align: center;
    background-color: rgba(0,153,153, 0.25);
    padding: 15px;
    margin-bottom: 0;
    /*margin-left: 450px;
    margin-right: 450px;*/
  }
  
  
  #content {
    color: black;
    font-size: 15px;
    /*line-height: 20px;*/
    text-align: center;
 
  }

footer {
    display: block;
}
